@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.nav-bar {
  position: fixed;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: #004883;
  height: 7vh;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: #004883;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;

  transition: 0.3s;
}
/*-------------body-----------*/
.container {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 6vh 38vh 38vh 15vh;
    width: 100vw;
    height: 100vh;
    
    grid-gap: 1px;
    background-color:#F0F8FF;
    overflow-y: scroll;
   
}
.background{
  max-width: 80vw;
  max-height: 100vh;
  z-index: -1;
}
.sm-container{
    display: grid;
    
    grid-template-columns: 20vw 20vw 20vw 20vw;
   
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.container > div{
    

}
.sm-container > div {
  
    font-size: 30px;
}

.side-panal {
    grid-column: 2;
    grid-row: 2 / span 3;
    padding: 10px;
   
    text-align: center;
    padding-top: 10vh;
    background-color: cadetblue;
}

.hd{
  grid-row: 1;
  grid-column: 1 / span 2;
}

a img{
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    border: groove;
}
a img:hover{
    opacity: 0.5;
}
.prd h4{
  padding: 10px;
  margin-left: 5px;
  font-family: 'Mukta', sans-serif;
}

ul{
  list-style: none;
}
li{
  padding: 3px;
}
.prd{
  padding: 10px;
}
a{
  text-decoration: none;
}
.reg-btn{
  margin-top: 10px;
  
}

.reg-btn a{
  padding: 5px;
  border-radius: 2px;
  background-color:red;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.reg-btn a:hover{
  background-color: darkred;
}
.text{
  padding: 10px;
  font-size: 20px;
}
.log-btn{
  margin-bottom: 30px;
  
}
.log-btn a{
  padding: 5px;
  border-radius: 2px;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.log-btn a:hover{
  background-color: blueviolet;
}
.next-bid{
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: hotpink;
  border-radius: 5px;
}
.more-details{
  margin-top: 20px;
}
.more-details a{
  cursor: pointer;
  transition: 0.5ms;
  padding: 15px;
}
.more-details a:hover{
  color: red;
}
.pro-pic img{
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}
.pro-details{
  font-size: 16px;

}
.pro-update{
  padding: 5px;
}
.pro-update a , .cart a{
  color: blue;
  transition: 0.5ms;cursor: pointer;
}
.pro-update a:hover , .cart a:hover{
  color: red;
}

.cart{
  padding: 5px;
}
.log-out{
  padding: 10px;
  
}
.log-out a{
  padding: 5px;
  font-size: 20px;
  color: black;
  background-color: #2196F3;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.log-out a:hover{
  background-color: darkcyan;
}
/*--------------product--------------*/

.product-container{
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  
}
.product-col-2{
  margin-left: 10px;
  margin-top: 30px;
  display: inline;
  flex-basis: 50%;
  border: none;
  align-items: center;

}
.product-col-2 ul{
  margin-top: 30px;
  padding: 10px;
}

.product-col-2 ul li{
  font-weight: bold;
}
.product-col-2 h2{
  font-size: 32px;
  
}
.product-col-2 img{
  margin-top: 10px;
  margin-left: 60px;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  padding: 0px;
  border: groove;
  border-color: black;

}
.place-bid{
  padding: 10px;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 60px;
  background-color: hotpink;
}
.bid-detail{
  padding: 10px;
  margin-left: 20px;
}
.bid-detail ul{

}
.bid-detail ul li{
  padding: 5px;
  font-size: 20px;
}
.bid-detail h4{
  margin-top: 20px;
  font-size: 24px;
}
.place-bid h4{
  font-size: 24px;
  padding: 10px;
}
.value{
  margin-top: 30px;
  margin-left: 100px;
}
label{
  font-size: 20px;
  font-weight: bold;
}
input[type="text"]{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.bid-btn-con{
  padding: 10px;
  margin-top: 10px;
}
.bid-btn{
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}
.bid-btn:hover{
  background-color: #004883;
  color: white;
}


/*-------footer-------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: #004883;
    color: white;
    text-align: center;
    z-index: 1000;
  }
  
  @media screen and (max-width: 900px) {
    .nav-bar {
      position: fixed;
      grid-area: nav-bar;
      display: grid;
      left: 0;
      top: 0;
      width: 100%;
      grid-template-columns: 5fr 1fr;
      grid-template-areas: " title-name logo-container ";
      background-color: #004883;
      height: 50px;
      z-index: 10;
    }
    .logo-container {
        display: none;
      }
    
      .title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    
        grid-area: title-name;
      }
    
      .tzu-logo {
        width: 82px;
        background: url(../images/tzuChiLogo.png);
      }
      .logo-name {
        display: flex;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
        text-align: center;
      }
    
      .logo-name span {
        font-weight: 200;
      }
      .log-sign {
        width: 25px;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
      }
    
      .log-sign a {
        display: block;
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        transition: 0.3s;
      }
    
      .back-btn {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: #004883;
        padding: 0.5rem 0.8rem;
        font-size: 5rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
    
        transition: 0.3s;
        text-transform: uppercase;
      }
      .container{
        grid-template-columns: 60vw 35vw;
        padding: 10px;
        
      }
      .sm-container{
        justify-content: left;
        display: list-item;
      }
     .prd {
       
       
      }
      a img{
        max-width: 200px;
        max-height: 200px;
        height: 100%;
      }
      .side-panal{
        padding-top: 10px;
        height: 130vh;
      }
      .product-container{
        flex-direction: column;
      
      }
      .product-col-2{
        margin-top: 5px;
      }
      .product-col-2 img{
        margin-left: 40px;
        max-width: 170px;
        max-height: 170px;
        padding: 5px;

      }
      .product-col-2 h2{
        font-size: 20px;
      }
      .product-col-2 h3{
        font-size: 14px;
      }
      .product-col-2 ul{
        margin-top: 0;
        padding: 0;
        padding-bottom: 20px;
      }
      .product-col-2 ul li{
        font-size: 14px;
      }
      .place-bid{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .place-bid h4{
        font-size: 16px;
        margin-top: 0;
        padding: 0;
      }
      .bid-btn-con{
        padding: 5px;
        margin-top: 0;
      }
      .bid-btn{
        width: 50px;
      }
      .value{
        margin-top: 10px;
        margin-left: 10px;
      }
      label{
        font-size: 20px;
       
      }
      input[type="text"]{
        width: 50px;
        height: 30px;
       
      }
      .bid-detail{
        margin-left: 0;
        padding: 0;
      }
      .bid-detail ul li{
        font-size: 14px;
      }
      .bid-detail h4{
        margin-top: 5px;
        font-size: 16px;
      }

      /*--------home-----------------*/
      a img{
        max-width: 170px;
        max-height: 170px;
        margin-left: 60px;
      }
      .sm-container{
        margin-top: 6vh;
        margin-bottom: 30px;
      }
      .prd{
        padding: 0;
      }
      .prd h4{
        font-size: 20px;
        padding: 0;
      }
    }