@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Noto Sans JP', sans-serif;
}

.bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.nav-bar {
  position: fixed;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color:red;
  height: 7vh;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("../images/hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("../images/tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: red;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;

  transition: 0.3s;
}
/*-------------body-----------*/
.container {
    display: grid;
    
    grid-template-rows: 6vh 88vh 6vh;
    width: 100vw;
    height: 100vh;
    
    grid-gap: 1px;
    background-color: lightpink;
    overflow-y: scroll;
   
}

.container > div{
    

}

.
.hd{
  grid-row: 1;
 
}


ul{
  list-style: none;
  
}
li{
  padding: 3px;
}

a{
  text-decoration: none;
}


/*--------------------------------------market-index-body-----------------------*/
.background{
  width: 100vw;
  
}
.img-container{
  position: relative;
  width: 99vw;
}
.pg-name{
  position: absolute;
  bottom: 10px;
  left: 10px;
  
}
.pg-name h2{
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
.btns{
  position: absolute;
  right: 0;
  bottom: 15px;
  
}
.btns a{
  font-size: 32px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
}

.log{
  background-color:orangered;

}
.reg{
  background-color: darkgoldenrod;
}
.btns a:hover{
  background-color: red;
}
.selection-panal{
  margin-left: 10px ;
}
.selection-panal button{
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.25s;
}
.selection-panal button:hover{
  color: darkred;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.2);
}
p , .about-products ul{
  
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}


.about-products h4 , .bid-sessions h4{
  margin-left: 30px;
  padding: 5px;
  border-style: solid;
  border-bottom:none;
  color: red;
  
}







/*-------footer-------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1000;
  }
  
  @media screen and (max-width: 900px) {
    .nav-bar {
      position: fixed;
      grid-area: nav-bar;
      display: grid;
      left: 0;
      top: 0;
      width: 100%;
      grid-template-columns: 5fr 1fr;
      grid-template-areas: " title-name logo-container ";
      background-color: lightpink;
      height: 50px;
      z-index: 10;
    }
    .logo-container {
        display: none;
      }
    
      .title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    
        grid-area: title-name;
      }
    
      .tzu-logo {
        width: 82px;
        background: url(../images/tzuChiLogo.png);
      }
      .logo-name {
        display: flex;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
        text-align: center;
      }
    
      .logo-name span {
        font-weight: 200;
      }
      .log-sign {
        width: 25px;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
      }
    
      .log-sign a {
        display: block;
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        transition: 0.3s;
      }
    
      .back-btn {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: #004883;
        padding: 0.5rem 0.8rem;
        font-size: 5rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
    
        transition: 0.3s;
        text-transform: uppercase;
      }
      .container{
        
       
        
      }

/*========================================page head===============*/s
      .pg-name h2{
        font-size: 24px;
      }
      .btns a{
        font-size: 18px;
      }
      .selection-panal{
        padding-right: 10px;
      }
      .selection-panal button{
        font-size: 15px;
      }
      .selection-panal button:hover{
        font-size: 16px;
      }
     p{
       font-size: 13px;
     }
     .about-us h4 , .vol-activities h4{
       font-size: 15px;
     }
      
     
      
      

      
    }