.cart td img{
    width: 100%;
    max-width: 50px;
    padding: 20px;
}
.cart{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    
}
tr{
    padding: 10px;
    
}
th{
    background-color: brown;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

th , td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.cart-container{
    margin-left: 50px;
    height: 83vh;
}

@media screen and (max-width: 600px){
    .cart{
        padding: 0;
        
    }
    .cart-container{
        margin-left: 5px;
    }
}