body {
    background-color: white;
}

ul {
    list-style: none;
}

h1 {
    margin-top: 10vh;
    color: rgb(10, 18, 124);
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    font-family: 'Roboto';
}

.column {
    margin-top: 10vh;
    margin-left: 1.5vw;
    margin-right: 1vw;
    float: left;
    width: 20vw;
    height: 45vh;
    border-style: solid;
    border-color: black;
    background-color: rgb(161, 163, 165);
}

h2 {
    font-size: 114px;
    position: absolute;
    opacity: 0.2;
    margin-top: 14vh;
    margin-left: 8vw;
}

.column:hover h2 {
    top: 0px;
    opacity: 0.6;
    color: black;
}

.head1 {
    font-size: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    position: absolute;
    color:yellow;
    margin-top: 3vh;
}

.column:hover h3 {
    top: 0px;
    opacity: 0.6;
    color: rgb(68, 63, 63);
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flipbox-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.column:hover .flipbox-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flipbox-front,
.flipbox-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipbox-front {
    background-color: rgb(6, 59, 112);
    color: rgb(252, 249, 249);
}

.flipbox-back {
    background-color:  rgb(6, 59, 112);
    color: rgb(5, 5, 5);
    transform: rotateY(180deg);
}
.acc{
    background-color: yellow; 
    border: none;
    color: #004883;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.readmore{
    background-color: yellow; 
    border: none;
    color: #004883;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#view{
    padding: 0 18px;
    display: none;
    overflow: hidden;
   
    width: 100%;
    margin-left: 0vw;
    margin-right: 10vh;
    color: black;
}


.btn {
    background-color: rgb(86, 88, 233);
    color: rgb(253, 253, 253);
    padding: 12px 23px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 0vw;
    margin-bottom: 1vh;
    margin-top: 4vh;
}

.dbtn {
    background-color: dodgerblue;
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 0vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(12, 12, 12);
    color: white;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(13, 20, 109);
    color: white;
}

a:hover {
    color: white;
}

.confirm {
    margin-top: 6vh;
    margin-left: 0vw;
    margin-right: 3vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}

.tab {
    margin-top: 0.2vh;
    background-color: rgb(3, 79, 219);
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: 600;
    border: none;
}

.tabcontent {
    margin-top: 0vh;
    color: white;
    display: none;
    padding: 2vh 20px;
    height: 90vh;
    width: 100%;
    border: none;
    /* margin-bottom: 5vh; */
}

.subby {
    margin-top: 3vh;
}

.subby li {
    margin-left: 1vw;
    float: left;
    font-weight: 1000;
    color: yellow;
    font-weight: 800;
    font-size: 1.3rem;
    margin-top: 1vh;

}

    





@media screen and (max-width: 900px) {
    .column {
        width: 80vw;
        display: block;
        margin-bottom: 5px;
    }
    .btn {
        font-size: smaller;
        margin-right: 30vw;
        margin-left: 30vw;
    }
    h2 {
        font-size: 5rem;
        margin-top: 15vh;
        margin-left: 28vw;
    }
    h3 {
        font-size: 2rem;
        margin-top: 5vh;
        margin-left: 18vw;
    }
}