@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #000000;
}

/*------------------------------*/
body {
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  grid-template-areas:
    "nav-bar"
    "body "
    "footer ";
}

.body {
  grid-area: body;
  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-areas: "sidebar grid-container";
}

#check {
  display: none;
}

.nav-bar {
  grid-area: nav-bar;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: #004883;
  height: 3rem;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 3rem;
}

.logo {
  height: 3rem;
  width: 6rem;
  z-index: 1;
  margin-left: 2rem;
  background-image: url("../images/hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 3rem;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("../images/tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 1;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 3rem;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.dropdown {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: left;
  margin-right: 2rem;
  grid-area: dropdown;
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  width: auto;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: rgb(7, 112, 199);
  color: white;
}

.dropdown-content a:hover {
  background-color: #004883;
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;

  top: 3rem;
  height: 100vh;
  overflow: auto;
  background: #1b1b1b;
  transition: left 0.4s ease;
  z-index: 1;
}

.sidebar .text {
  color: white;
  font-size: 20px;
  line-height: 40px;

  text-align: center;
  background: #004883;
  border: 3px solid rgba(0, 162, 255, 0.993);
  letter-spacing: 1px;
}
.sidebar ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
.sidebar ul li {
  line-height: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar ul li a {
  position: relative;
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;
  display: block;

  border-left: 3px solid transparent;
}
.sidebar ul li.active a {
  color: rgba(0, 162, 255, 0.993);

  background: #1e1e1e;
  border-left-color: rgba(0, 162, 255, 0.993);
}
.sidebar ul li a:hover {
  background: #1e1e1e;
}
.sidebar ul ul {
  position: static;
  display: none;
}
.sidebar ul .feat-show.show {
  display: block;
}
.sidebar ul .serv-show.show1 {
  display: block;
}
.sidebar ul ul li {
  line-height: 42px;
  border-top: none;
}
.sidebar ul ul li a {
  font-size: 14px;
  color: #e6e6e6;
  padding-left: 15px;
}
.sidebar ul li.active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
.sidebar ul ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}
.sidebar ul li a span {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  transition: transform 0.4s;
}
.sidebar ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.grid-container {
  position: relative;
  grid-area: grid-container;
  display: flex;
  left: 5rem;
  width: 85.5%;
  display: grid;
  z-index: 1;
}

.grid-body {
  position: relative;
  top: 3rem;
  width: 100%;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

.footer {
  position: relative;

  grid-area: footer;
  height: 3rem;
  background-color: #004883;
  color: white;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    position: fixed;
    grid-area: nav-bar;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo-container title-name dropdown";
    background-color: #004883;
    height: 3rem;
  }

  .body {
    grid-area: body;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-areas: "grid-container grid-container";
  }

  .sidebar {
    grid-area: sidebar;
    position: fixed;
    display: float;
    top: 3rem;
    height: 100vh;
    overflow: auto;
    background: #1b1b1b;
    transition: left 0.4s ease;
    z-index: 2;
    bottom: 3rem;
  }

  #check {
    display: none;
  }
  label #btn {
    position: absolute;
    background: #004883;
    top: 3rem;
    margin: 0;
    left: 0;
    border: solid 1px;
    border-radius: 3px;
    cursor: pointer;
  }

  label #cancel {
    position: absolute;
    background: #ff3030;
    border-radius: 1px;
    cursor: pointer;
  }
  label #btn {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 20;
  }
  label #cancel {
    z-index: 20;
    left: 250px;
    top: 50px;
    font-size: 30px;
    color: #fcfcfc;
    padding: 4px 9px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: -250px;
  }
  #check:checked ~ label #btn {
    left: 40px;
    opacity: 1;
    pointer-events: auto;
  }
  #check:checked ~ label #cancel {
    left: -195px;
  }
  #check:checked ~ section {
    margin-left: 0px;
  }

  .logo-container {
    display: none;
  }

  .title-name {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3rem;
  }

  .tzu-logo {
    width: 60px;
    height: 2.3rem;
    background: url(../images/tzuChiLogo-s.png);
  }

  .logo {
    display: none;
  }

  .logo-name {
    display: flex;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 3rem;
    text-align: center;
  }

  .logo-name span {
    font-size: 0.6rem;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-right: 2rem;
    grid-area: dropdown;
    float: right;
    overflow: hidden;
    z-index: 50;
  }

  .dropdown .dropbtn {
    font-size: 12px;
    width: 100%;
    border: none;
    outline: none;
    padding: 1px 1px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;

    min-width: 10rem;
    margin-right: 2rem;

    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .grid-container {
    left: 0;
    width: 100%;
  }
}
