body {
    background-color: white;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 90px;
    border-radius: 10px;
    border-color: #0e0e27;
    border-style: solid;
   
    
  }
 .column h3{
     text-align: left;
     top: 0%;
     color: blue;
     border:3px;
     border-radius: 5px;
      border-style:solid; 
      border-color:#250404; 
      padding: 1em;
     
 }
 .column h3 span{
    
     padding: 2em;
 }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the buttons */
  .bttn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #2c2fe6;
    cursor: pointer;
    color: white;
  }
  
  .bttn:hover {
    background-color: rgb(14, 2, 58);
  }
  
  .bttn.active {
    background-color: #4649dd;
    color: white;
  }
  .bttn.active:hover {
    background-color: #0e0e27;
    color: white;
  }

  .readmore {
    background-color: rgb(1, 60, 107);
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border-color: rgb(43, 39, 39);
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-left: 0vw;
    margin-right: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
    font-size: 15px;
    font-weight: 800;
}

.active,
.readmore:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(162, 26, 167);
    font-weight: 900;
}

.content_update {
    height: 20vh;
    width: 80%;
    margin-left: 8vw;
    margin-top: 5vh;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(58, 112, 119);
    width: 50%;
    margin-left: 0vw;
    margin-right: 10vh;
    color: black;
}

.readmore:after {
    content: "\02795";
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.btn {
    background-color: rgb(17, 19, 117);
    color: yellow;
    padding: 13px 23px;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: 4vh;
}

.dbtn {
    background-color: dodgerblue;
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(190, 180, 35);
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(9, 3, 63);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    position: relative;
    left: 10rem;
}

.experience {
    border-color: black;
    border-style: ridge;
    max-width: 25vw;
}

.subby {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1vh;
    color: #230e4b;
}

.confirm {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}
input[type=text]{
    vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;

}

.clmn {
  float: right;
  width: 50%;
  padding: 10px;
  border-color: #0e0e27;
  border-radius: 2px;
}

/* Clear floats after the columns */
.rw:after {
  content: "";
  display: table;
  clear: both;
  border-color: #0e0e27;
  border-radius: 2px;
}

.date-wise{
float:right;
text-align: right;
overflow: scroll;
text-emphasis: start;
position: absolute;
top: 50px;
left:60%;
max-width: 600px;
border-color: #0e0e27;
border-radius: 2px;
}
