/*
body {
    background-color:white;
    color: black;
}

.column {
    float: left;
    width: 50%;
    max-height: 20vh;
    padding: 30px;
    outline-style: solid;
    outline-color: rgb(8, 8, 8);
}

h1 {
    font-weight: 100;
    font-family: 'roboto';
    color:rgb(42, 15, 116);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.btn {
    background-color: rgb(24, 28, 224);
    color: rgb(253, 253, 253);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 4vw;
    margin-bottom: 2vh;
}

.dbtn {
    background-color: rgb(52, 121, 190);
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(190, 180, 35);
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(170, 154, 12);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    position: relative;
    left: 10rem;
}

.experience {
    border-color: black;
    border-style: ridge;
    max-width: 25vw;
}

.subby {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1vh;
    color: #1461a8;
}

.confirm {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}

.tab {
    margin-top: 0.2vh;
    background-color: rgb(116, 113, 113);
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: 600;
    border: none;
}

.tabcontent {
    margin-top: 0vh;
    color: white;
    display: none;
    padding: 12vh 20px;
    height: 90vh;
    width: 100%;
   
}

.tab-upcoming,
#upcoming {
    background-color: white;
    margin-top: 0%;
}

.tab-finished,
#finished {
    background-color: white;
    margin-top: 0%;
}

.tab-current,
#current {
    background-color: white;
    margin-top: 0%;
}
*/

.grid-body {
    position: relative;
    top: 0;
  }
  .pageTitle h1 {
    font-size: 24px;
  }
  
 
  .tab-section ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .tab-section ul li a {
    display: flex;
    justify-content: center;
    background-color: #7d8286;
    width: 10rem;
    height: 3rem;
    color: #ffffff;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    border-radius: 3px;
  }
  .tab-section .active {
    position: relative;
    
  }
  
  .tab-section .active a {
    width: 10rem;
    height: 3rem;
    background-color: rgb(7, 112, 199);
  }
  
  
input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 4px solid #004883;
  }
  
  .search-container {
    position: relative;
    left: 25%;
  }
  .search-container button {
    position: relative;
    padding: 6px 10px;
  
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }

.content {
    width: 100%;
    margin: 0 auto;
  }
  .content h2 {
    margin: 0;
    padding: 15px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
  }
  .read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 0;
  }
  
  .read .pagination {
    display: flex;
    justify-content: flex-end;
  }
  .read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #004883;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
  }
  .read .pagination a:hover {
    background-color: rgb(7, 112, 199);
  }
  .read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
  }
  .read table thead {
    background-color: #004883;
    border-bottom: 1px solid #d3dae0;
  }
  .read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
  }
  .read table tbody tr {
    border-bottom: 1px solid #d3dae0;
  }
  .read table tbody tr:nth-child(even) {
    background-color: #00488311;
  }
  .read table tbody tr:hover {
    background-color: rgb(7, 112, 199);
  }
  .read table tbody tr:hover td {
    color: #ffffff;
  }
  .read table tbody tr:hover td:nth-child(1) {
    color: #ffffff;
  }
  .read table tbody tr td {
    padding: 10px;
  }
  .read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
  }
  .read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
  }
  .read table tbody tr td.actions .edit,
  .read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 12px;
  }
  .read table tbody tr td button{
  
    background-color: #004883; /* Green */
      border: none;
      color: white;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  