.grid-body {
    position: relative;
    top: 0;
}

.pageTitle h1 {
    font-size: 24px;
}

.tab-section {}

.tab-section ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.tab-section ul li a {
    display: flex;
    justify-content: center;
    background-color: #004883;
    width: 10rem;
    height: 3rem;
    color: #ffffff;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    border-radius: 3px;
}

.tab-section .active {
    position: relative;
}

.tab-section .active a {
    width: 10rem;
    height: 3rem;
    background-color: rgb(7, 112, 199);
}

input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 4px solid #004883;
}

.search-container {
    position: relative;
    left: 25%;
}

.search-container button {
    position: relative;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 15px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}

.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 0;
}

.read .pagination {
    display: flex;
    justify-content: flex-end;
}

.read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #004883;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}

.read .pagination a:hover {
    background-color: rgb(7, 112, 199);
}

.read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.read table thead {
    background-color: #004883;
    border-bottom: 1px solid #d3dae0;
}

.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
}

.read table tbody tr:nth-child(even) {
    background-color: #00488311;
}

.read table tbody tr:hover {
    background-color: rgb(7, 112, 199);
}

.read table tbody tr:hover td {
    color: #ffffff;
}

.read table tbody tr:hover td:nth-child(1) {
    color: #ffffff;
}

.read table tbody tr td {
    padding: 10px;
}

.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}

.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}

.read table tbody tr td.actions .edit,
.read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 12px;
}

.read table tbody tr td.actions .trash {
    background-color: #b73737;
}

.read table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}

.read table tbody tr td.actions .edit {
    background-color: #37afb7;
}

.read table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}

.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}

.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}

.update form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.update form input[type="submit"]:hover {
    background-color: #32a367;
}

.delete .yesno {
    display: flex;
}

.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.delete .yesno a:hover {
    background-color: #32a367;
}

@media screen and (max-width: 900px) {
    .grid-body {
        position: relative;
        top: 0;
        left: 0;
    }
    .pageTitle h1 {
        font-size: 14px;
    }
    .tab-section {
        display: flex-box;
    }
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .content h2 {
        margin: 0;
        padding: 6px 0;
        font-size: 10px;
        border-bottom: 1px solid #ebebeb;
        color: #666666;
    }
    .read .pagination a {
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        padding: 1px 5px;
        margin: 5px 0 5px 5px;
    }
    .read table {
        width: 100%;
        padding-top: 10px;
        border-collapse: collapse;
    }
    .read table thead td {
        padding: 2px;
        font-weight: bold;
        font-size: 8px;
    }
    .read table tbody tr td {
        padding: 0px;
        font-size: 8px;
    }
    .read table tbody tr td.actions {
        padding: 2px;
        text-align: right;
    }
    .read table tbody tr td.actions .edit,
    .read table tbody tr td.actions .trash {
        display: inline-flex;
        text-align: right;
        text-decoration: none;
        padding: 2px 4px;
    }
}