.column {
  float: left;
  width: 50%;
  max-height: 20vh;
  padding: 30px;
  outline-style: solid;
  outline-color: rgb(8, 8, 8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.readmore {
  background-color: #383838;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border-color: rgb(43, 39, 39);
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-left: 5vh;
  margin-right: 10vh;
}

.active,
.readmore:hover {
  background-color: rgb(14, 13, 13);
  color: rgb(212, 39, 39);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: aquamarine;
  width: 90%;
  margin-left: 5vh;
  margin-right: 10vh;
}

.readmore:after {
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.btn {
  background-color: dodgerblue;
  color: rgb(253, 253, 253);
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  margin-left: 4vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: red;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  position: relative;
  left: 10rem;
}

.experience {
  border-color: black;
  border-style: ridge;
  max-width: 25vw;
}

.confirm {
  margin-top: 0;
  margin-left: 1vw;
  margin-right: 3vw;
  float: right;
  font-weight: 600;
  font-size: 1.3rem;
}
