body {
    background-color: rgb(103, 175, 223);
}

.column {
    float: left;
    width: 50%;
    max-height: 20vh;
    padding: 30px;
    outline-style: solid;
    outline-color: rgb(8, 8, 8);
}

h1 {
    font-weight: 100;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.readmore {
    background-color: #383838;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: rgb(43, 39, 39);
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-left: 0vw;
    margin-right: 10vh;
}

a {
    font-size: 15px;
    font-weight: 800;
}

.active,
.readmore:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(162, 26, 167);
    font-weight: 900;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(43, 163, 179);
    width: 100%;
    margin-left: 0vw;
    margin-right: 10vh;
    color: black;
}

.readmore:after {
    content: "\02795";
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.btn {
    background-color: rgb(17, 19, 117);
    color: rgb(253, 253, 253);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 4vw;
    margin-bottom: 2vh;
}

.dbtn {
    background-color: dodgerblue;
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(190, 180, 35);
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: red;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    position: relative;
    left: 10rem;
}

.experience {
    border-color: black;
    border-style: ridge;
    max-width: 25vw;
}

.subby {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1vh;
    color: #230e4b;
}

.confirm {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}

.tab {
    margin-top: 0.2vh;
    background-color: rgb(116, 113, 113);
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: 600;
    border: none;
}

.tabcontent {
    margin-top: 0vh;
    color: white;
    display: none;
    padding: 12vh 20px;
    height: 90vh;
    width: 100%;
    /* margin-bottom: 5vh; */
}

.tab-upcoming,
#upcoming {
    background-color: rgb(6, 33, 73);
    margin-top: 0%;
}

.tab-finished,
#finished {
    background-color: #0e444b;
    margin-top: 0%;
}

.tab-current,
#current {
    background-color: rgb(27, 12, 61);
    margin-top: 0%;
}