@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.nav-bar {
  position: fixed;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: #004883;
  height: 6vh;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("../images/hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("../images/tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: #004883;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;

  transition: 0.3s;
}

.avatar {
  position: relative;
  display: flex;
  height: 5rem;
  justify-items: center;
  left: 14vw;
}

.login {
  position: relative;
  width: 32vw;
  align-items: center;
  height: 60%;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 5rem auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 200%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  width: 22vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
  width: 3vw;
  height: 6vh;
  background-color: #004883;
  color: #ffffff;
}
.login form input[type="password"],
.login form input[type="text"] {
  position: relative;
  width: 18vw;
  height: 6vh;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  left: 5vw;
  padding: 0 15px;
}

.validation-error h1 {
  display: flex;
  width: 20rem;
  height: auto;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 12px;
  left: 6rem;
  color: #e74c3c;
}

.forgotpw a {
  display: block;
  position: relative;
  text-align: center;
  top: 9rem;
  left: 10rem;
  text-decoration: none;
  color: rgb(163, 152, 152);
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #070707;
}

.btn {
  position: relative;
  display: block;
  left: 3rem;
  width: 7rem;
  top: 3rem;
  height: 3rem;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #004883, #1777af, #030e64);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 300%;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  background-color: #004883;
  color: white;
  text-align: center;
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    position: fixed;
    grid-area: nav-bar;
    display: grid;
    left: 0;
    top: 0;
    width: 100%;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: " title-name logo-container ";
    background-color: #004883;
    height: 50px;
    z-index: 10;
  }

  .avatar {
    position: relative;
    width: 90px;
    left: 5rem;
  }

  .logo-container {
    display: none;
  }

  .title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    grid-area: title-name;
  }

  .tzu-logo {
    width: 82px;
    background: url(../images/tzuChiLogo.png);
  }
  .logo-name {
    display: flex;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
  }

  .logo-name span {
    font-weight: 200;
  }
  .log-sign {
    width: 25px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .log-sign a {
    display: block;
    position: relative;
    right: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .back-btn {
    display: inline-block;
    width: 60px;
    height: 40px;
    background: #004883;
    padding: 0.5rem 0.8rem;
    font-size: 5rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;

    transition: 0.3s;
    text-transform: uppercase;
  }

  .login {
    position: relative;
    width: 250px;
    height: 32rem;

    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  }
  .login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 14px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login form {
    width: 360px;

    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1rem;
    width: 35px;
    height: 35px;
    background-color: #004883;
    color: #ffffff;
  }
  .login form input[type="password"],
  .login form input[type="text"] {
    position: relative;
    width: 10rem;
    height: 35px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    left: 4rem;
    bottom: 2.2rem;
    padding: 0 15px;
  }

  .validation-error h1 {
    position: absolute;
    left: 2.5rem;
    bottom: 10rem;
    font-size: 8px;
    color: #e74c3c;
  }

  .btn {
    position: relative;
    left: 4.3rem;
    bottom: 1rem;
    padding: 3%;

    border-radius: 25px;

    font-size: 0.8rem;
  }

  .forgotpw a {
    display: block;
    position: relative;
    left: 4rem;
    top: 7rem;
    text-decoration: none;
    color: rgb(163, 152, 152);
    font-size: 0.9rem;
    transition: 0.3s;
  }
  a:hover {
    color: #070707;
  }
}
