body {
    background-color: white;
}
/*
.column {
    float: left;
    width: 50%;
    max-height: 20vh;
    padding: 30px;
    outline-style: solid;
    outline-color: rgb(15, 134, 231);
}

h1 {
    font-weight: 100;
    margin-left: 20vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.readmore {
    background-color: rgb(1, 60, 107);
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: rgb(43, 39, 39);
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-left: 0vw;
    margin-right: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.readmore table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  
}

a {
    font-size: 15px;
    font-weight: 800;
}

.active,
.readmore:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(162, 26, 167);
    font-weight: 900;
}

.content_update {
    height: 20vh;
    width: 80%;
    margin-left: 8vw;
    margin-top: 5vh;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(43, 163, 179);
    width: 100%;
    margin-left: 0vw;
    margin-right: 10vh;
    color: black;
}

.readmore:after {
    content: "\02795";
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.btn {
    background-color: rgb(17, 19, 117);
    color: rgb(253, 253, 253);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: 4vh;
}

.dbtn {
    background-color: dodgerblue;
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(190, 180, 35);
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(9, 3, 63);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    position: relative;
    left: 10rem;
}

.experience {
    border-color: black;
    border-style: ridge;
    max-width: 25vw;
}

.subby {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1vh;
    color: #230e4b;
}

.confirm {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}

.tab {
    margin-top: 0.2vh;
    background-color: rgb(116, 113, 113);
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: 600;
    border: none;
}

.tabcontent {
    margin-top: 0vh;
    color: white;
    display: none;
    padding: 12vh 20px;
    height: 90vh;
    width: 100%;
}
    /* margin-bottom: 5vh; */
/*

.tab-upcoming,
#upcoming {
    background-color: rgb(6, 33, 73);
    margin-top: 0%;
}

.tab-finished,
#finished {
    background-color: #0e444b;
    margin-top: 0%;
}

.tab-current,
#current {
    background-color: rgb(27, 12, 61);
    margin-top: 0%;
}

*/

/* new start*/

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 70px;
    border-radius: 10px;
    border-color: #0e0e27;
    
  }
 .column h3{
     text-align: left;
     top: 0%;
     color: blue;
     border:3px;
     border-radius: 5px;
      border-style:solid; 
      border-color:#250404; 
      padding: 1em;
     
 }
 .column h3 span{
    
     padding: 3em;
 }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the buttons */
  .bttn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #2c2fe6;
    cursor: pointer;
    color: white;
  }
  
  .bttn:hover {
    background-color: rgb(14, 2, 58);
  }
  
  .bttn.active {
    background-color: #2c2fe6;
    color: white;
  }
  .bttn.active:hover {
    background-color: #0e0e27;
    color: white;
  }

  .readmore {
    background-color: rgb(1, 60, 107);
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: rgb(43, 39, 39);
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-left: 0vw;
    margin-right: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
    font-size: 15px;
    font-weight: 800;
}

.active,
.readmore:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(162, 26, 167);
    font-weight: 900;
}

.content_update {
    height: 20vh;
    width: 80%;
    margin-left: 8vw;
    margin-top: 5vh;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(43, 163, 179);
    width: 100%;
    margin-left: 0vw;
    margin-right: 10vh;
    color: black;
}

.readmore:after {
    content: "\02795";
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.btn {
    background-color: rgb(17, 19, 117);
    color: rgb(253, 253, 253);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: 4vh;
}

.dbtn {
    background-color: dodgerblue;
    color: rgb(253, 253, 253);
    padding: 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.dbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(190, 180, 35);
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(9, 3, 63);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    position: relative;
    left: 10rem;
}

.experience {
    border-color: black;
    border-style: ridge;
    max-width: 25vw;
}

.subby {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1vh;
    color: #230e4b;
}

.confirm {
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    font-weight: 600;
    font-size: 1.3rem;
}
input [type=text]{
    vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: rgb(161, 144, 144);
  border: 1px solid #ddd;
  display:none;
}

.container-calendar {
	background: #ffffff;
	color:black;
	padding: 15px;
	max-width: 475px;
	margin: 0 auto;
	overflow: auto;
  }
  
  .button-container-calendar button {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #00a2b7;
	color: #fff;
	border: 1px solid #0aa2b5;
	border-radius: 4px;
	padding: 5px 10px;
  }
  
  .table-calendar {
	border-collapse: collapse;
	width: 100%;
  }
  
  .table-calendar td, .table-calendar th {
	padding: 5px;
	border: 1px solid #6b6666;
	text-align: center;
	vertical-align: top;
  }
  
  .date-picker.selected {
	font-weight: bold;
	outline: 1px dashed #00BCD4;
  }
  
  .date-picker.selected span {
	border-bottom: 2px solid currentColor;
  }
  
  /* sunday */
  .date-picker:nth-child(1) {
  color: red;
  }
  .date-picker:nth-child(2) {
	color: green;
	}
  
	.date-picker:nth-child(3) {
	  color: green;
	  }
  
	  .date-picker:nth-child(4) {
		color: green;
		}
		.date-picker:nth-child(5) {
		  color: green;
		  }
		  .date-picker:nth-child(7) {
			color: green;
			}
					  
  .date-picker:nth-child(6) {
  color: green;
  }
  
  
  
  #monthAndYear {
	text-align: center;
	margin-top: 0;
	color: #161515;
	background-color: #bfc5c5;
  }
  
  .button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
  }
  
  #previous {
	float: left;
  }
  
  #next {
	float: right;
  }
  
  .footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #004883;
	padding: 10px 0;
  }
  
  .footer-container-calendar select {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #ffffff;
	color: #161515;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}