@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.nav-bar {
  position: fixed;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: #004883;
  height: 7vh;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: #004883;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;

  transition: 0.3s;
}
/*-------------body-----------*/
.container {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 6vh 88vh 6vh;
    width: 100vw;
    height: 100vh;
    
    grid-gap: 1px;
    background-color: #2196F3;
    overflow-y: scroll;
   
}

.container > div{
    

}

.side-panal {
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
    z-index: 1;
    text-align: center;
    padding-top: 7vh;
    background-color: cadetblue;
}

.hd{
  grid-row: 1;
  grid-column: 1 / span 2;
}


ul{
  list-style: none;
}
li{
  padding: 3px;
}

a{
  text-decoration: none;
}


/*------------------------donation - container-----------------*/


.donation-container{

}
.background-img{
    z-index: -1;
    height: 94vh;
    width: 80vw;
}

.donate-here .add-donation {
    position: absolute;
    bottom: 6vh;
    top: 6vh;
    left: 35vw;
    right: 20vw;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
  }

  .select-value li{
      display: inline;
  }
  .don-value{
      background-color: blue;
      padding: 5px;
      border: none;
      border-radius: 2px;
      margin-left: 5px;
      width: 100px;
      height: 30px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
  }

  .don-value:hover{
      background-color: darkblue;
  }

  .add-donation h4{
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 5px;
      font-size: 20px;
  }
  .cust-amount , .donate-for , .dedicate-donation , .payment , .donate{
      padding: 5px;
      margin-top: 30px;
  }
  
  .add-donation label{
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
  }
  .cust-amount input[type="text"]{
      padding: 5px;
      border-radius: 5px;
      margin-left: 70px;
      
      border: none;
  }
  input[type="checkbox"]{
      cursor: pointer;
  }
  
  .donate-for select{
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .remark{
      display: flex;
      justify-content: center;
      display: inline;
      padding: 5px;
  }
  .remark label{
      font-size: 16px;
      font-weight: normal;
  }
  .remark textarea{
      margin-left: 30px;
      margin-top: 10px;
      padding: 5px;
      width: 350px;
      height: 50px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
  }
  .payment-method img{
      margin-top: 30px;
    
      max-width: 200px;
      max-height: 50px;
      width: 100%;
      cursor: pointer;
  }
  .donate-btn{
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      border: none;
      width: 200px;
      height: 70px;
      cursor: pointer;
      transition: 0.5s;
      background-color: cornflowerblue;
      font-weight: bold;
      font-size: 32px;
  }
  .donate-btn:hover{
      background-color: #2196F3;
      color: white;
    
  }

/*----------------profile - container------------*/
.profile{
    margin-top: 20px;
   
}
.more-details{
  margin-top: 20px;
}
.more-details a{
  cursor: pointer;
  transition: 0.5ms;
  padding: 15px;
}
.more-details a:hover{
  color: red;
}
.pro-pic img{
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}
.pro-details{
  font-size: 16px;

}
.pro-update{
  padding: 5px;
}
.pro-update a{
  color: blue;
  transition: 0.5ms;cursor: pointer;
}
.pro-update a:hover{
  color: red;
}


.log-out{
  padding: 10px;
  
}
.log-out a{
  padding: 5px;
  font-size: 20px;
  color: black;
  background-color: #2196F3;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.log-out a:hover{
  background-color: darkcyan;
}
/*--------------product--------------*/



/*-------footer-------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: #004883;
    color: white;
    text-align: center;
    z-index: 1000;
  }
  
  @media screen and (max-width: 900px) {
    .nav-bar {
      position: fixed;
      grid-area: nav-bar;
      display: grid;
      left: 0;
      top: 0;
      width: 100%;
      grid-template-columns: 5fr 1fr;
      grid-template-areas: " title-name logo-container ";
      background-color: #004883;
      height: 50px;
      z-index: 10;
    }
    .logo-container {
        display: none;
      }
    
      .title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    
        grid-area: title-name;
      }
    
      .tzu-logo {
        width: 82px;
        background: url(../images/tzuChiLogo.png);
      }
      .logo-name {
        display: flex;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
        text-align: center;
      }
    
      .logo-name span {
        font-weight: 200;
      }
      .log-sign {
        width: 25px;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
      }
    
      .log-sign a {
        display: block;
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        transition: 0.3s;
      }
    
      .back-btn {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: #004883;
        padding: 0.5rem 0.8rem;
        font-size: 5rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
    
        transition: 0.3s;
        text-transform: uppercase;
      }
      .container{
        grid-template-columns: 60vw 35vw;
       
        
      }
      
     
      .side-panal{
        padding-top: 7vh;
      }
      .donation-container{
        flex-direction: column;
      
      }

      .background-img{
         display: none;
      }
      .add-donation h4{
          color: black;
          padding: 2px;
          margin-bottom: 2px;
      }
      .donate-here .add-donation {
        position: absolute;
        bottom: 6vh;
        top: 6vh;
        left: 0;
        right: 38vw;
       background-color: #F0F8FF;
        color: black;
        padding: 20px;
      }
      .don-value{
          margin-bottom: 2px;
      }
      .cust-amount input[type="text"]{
          border: none;
          margin-left: 10px;
      }
      .add-donation h4{
          margin-top: 10px;
      }
      .cust-amount , .donate-for , .dedicate-donation , .payment , .donate{
          margin-top: 10px ;      
      }
      .donate-for select{
          max-width: 200px;
      }
      .payment-method img{
          max-width: 100px;
          max-height: 50px;
          margin-top: 20px;
      }
      .profile{
          margin-top: 20px;
      }
      textarea{
      	max-width: 100px;
      	margin-left: 0;
      }
    
      
    }