.main-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas:
    "nav-bar nav-bar"
    "sidebar grid-container"
    "sidebar footer";
}

.grid-container {
  grid-area: grid-container;
  position: absolute;
  top: 50px;
  bottom: 50px;

  display: grid;

  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-areas:
    "breadcrum breadcrum breadcrum breadcrum"
    "main main main main"
    "content1 content1 content2 content3"
    "content1 content1 content2 content3"
    "foot-panel foot-panel foot-panel foot-panel";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

#breadcrum {
  background: #a7ffeb;
  grid-area: breadcrum;
  text-align: left;
}

main {
  background: #84ffff;
  grid-area: main;
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  grid-area: foot-panel;
  background: #1de9b6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}
