.nav-bar {
 
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: orangered;
  height: 6vh;

}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("../images/hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("../images/tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: orangered;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;

  transition: 0.3s;
}

.img {
  height: 10px;
  width: 130px;
}