*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: content-box;
}
body{
    background-color: coral;
   
}
.active{
  
    border-bottom: 6px solid #004883;

}
.active:hover{
    background-color: greenyellow;
    border-radius: 5px;
}
.top-nav{
    width: 100%;
    background-color:red;
    height: 15vh;
    position: relative;
}
.col-2{
    flex-basis: 50%;
    
}
.row{
    display: flex;
    align-items: center;
}

.col-2 a{
    color:white;
    padding-left: 10px;
    padding: 5px;
    cursor: pointer; 
}
.col-2 a:hover{
    color: black;
}
.search-bar{
    display: inline-block;
}   
.search-bar input[type="text"]{
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
}
.src-btn{
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    border: none;
}
a{
    text-decoration: none;
}
h4 a:hover{
    color:red;
}
.col-7{
    
    flex-basis: 20%;
    display: inline-block;
    max-width: 200px;
    text-align: center;
    
}
.cat-links{
    align-items: flex-end;
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;

}
.cat-links a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-left: 50px;
    padding: 10px;
    cursor: pointer;
    
}
.cat-links a:hover{
    background-color: brown;
}
.products{
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    margin-bottom: 50px;
}
.col-5{
    flex-basis: 30%;
    
    max-width: 200px;
    padding: 20px;
    margin-left: 20px;
   
    text-align: left;
}

.col-5 a img{
    width: 100%;
    cursor: pointer;
    border: none;
}
.col-5 a img:hover{
    opacity: 0.5;
}
.cat{
    display: inline-block;
}
ul{
    list-style: none;
    font-weight: bold;
    
    
}
ul li{
    
}
.col-6{
    flex-basis: 20%;
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    margin-left: 10px;
    
    text-align: center;
    
}
.col-6 a img{
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 100px;
}

.col-6 a img:hover{
    opacity: 0.5;
}
.col-6 h4{
    font-size: 24px;
}
.welcome{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    background-color: pink;
    padding: 50px;
}
.next-bid{
    padding: 30px;
}

.next-bid p{
    font-size: 40px;
    display: inline-block;
}
.cat{
    margin-left: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.cat h4{
    font-weight: bolder;
    font-size: 32px;
}
.product{
    margin-bottom: 100px;
}
.bfooter h4{
    margin-top:10px;
    padding: 10px;
}

.bfooter {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1000;
}





@media screen and (max-width: 600px){
    .col-2{
        width: 100%
        flex-basis: 100%;
        max-width: 600px;
        text-align: left;
    }
    .col-2 a{
        padding: 0;
        display: inline;
    }
    .col-5 , .col-6 , .col-7{
        flex-basis: 100%;
        width: 100%;
    }
    .welcome{
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .next-bid{
        font-size: 20px;
        padding: 20px;
    }
    input[type="text"]{
        width: 200px;
    }
    .src-btn{
        width: 40px;
    }
}