*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: content-box;
    
}
body{
    
}
.pd-row{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  
}

.pd-col-2{
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 30px;
    
    
}
.p-img{
    display: inline-block;
    margin-left: 30px;
    
}
.p-img img{
    max-width: 250px;
    width: 100%;
}
.p-name h1{
    padding: 20px;
}
.pd-col-2 p{
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.bid-area h1{
    padding: 20px;
    color: red;
    font-weight: bold;
    font-size: 36px;
}
.bid-area{
    padding: 10px;
    background-color: pink;
    margin-right: 20px;
}

.bid-area label{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.rupees{
    max-width: 60px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.cents{
    max-width: 30px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.bid-btn{
    margin-left: 20px;
    padding: 20px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
.bid-btn:focus{
    border: none;
}

.bid-btn:hover{
    background-color: brown;
}

.bid-stats{
   padding: 20px;
}

.bid-stats td{
    padding: 5px;
    padding-left: 30px;
    padding-right: 100px;
}
.refresh-btn{
    margin-left: 500px;
    padding: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightblue;
    font-weight: bold;
}
.refresh-btn:hover{
    background-color: cornflowerblue;
}
.related-products{
    padding: 20px;
}
.related-products h3{
    padding: 20px;
    margin-left: 70px;
}

.pd-col-4 img{
    cursor: pointer;
}

.pd-col-4 img:hover{
    opacity: 0.3;
}
@media screen and (max-width: 600px){
    .pd-col-2{
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .refresh-btn{
        margin-left: 300px;
    }
    .pd-col-2 img{
        margin-left: 70px;
        height: 50%;
        width: 50%;
        padding: 10px;
    }
    .p-name h1{
        font-size: 24px;
    }
    .pd-col-2 p{
        margin-top: 0;
        font-size: 12px;
    }
    .bid-area h1{
        font-size: 24px;
    }
    .bid-area label{
        font-size: 24px;
        font-weight: bold;
        padding: 20px;
    }
    .rupees{
        max-width: 40px;
        padding: 10px;
        font-size: 16px;
    }
    .cents{
        max-width: 20px;
        padding: 10px;
        font-size: 16px;
    }
    .bid-btn{
        margin-left: 20px;
        padding: 10px;
        width: 30px;
        font-size: 16px;
}