body{
    margin:10px;
    height:100vh;
    background: rgb(196, 196, 221);
}

.center{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-input{
width: 250px;
padding: 20px;
background: rgb(10, 69, 218);
border:5px  rgb(7, 2, 54);

}

.img-input input{
display: none;

}

img-input label{
display: block;
width: 100%;
height: 50px;
line-height: 50px;
text-align: center;
background: #333;
color: #fff;
font-size: 15px;
font-family: "Open sans", sans-serif;
font-style: oblique;
text-transform: uppercase;
font-weight: 600;
border-radius: 10px;
cursor: pointer;
}
.img-input img{
    width: 100%;
    display: none;
}



