
body{
    overflow: hidden;
}


h1{
    color:  #3b5998;
}

.card {
    align-items: center;
    background-color: #3b5998;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    color:#0c0e11 ;
  }
  
  
 