
body{
    overflow: hidden;
}


h1{
    color:  #3b5998;
}

.card {
    align-items: center;
    background-color: #3b5998;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    color:#0c0e11 ;
  }
  .count{
    margin: 40px 0;
    color: rgb(235, 8, 38);
  }
  .countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
    color: #f6f7f8;
  }
  .countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
    color: black;
  }
  
 