
 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
  }
  
  body{
     background-color: #f3f3f3;
     overflow: hidden;
  }
  
  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65vw;
    height: 80vh;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  
  }
  
  .wrapper .left{
    width: 35%;
    background: linear-gradient(to right,#3b5998,#4f79d4);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: 'roboto';
  }
  
  .wrapper .left img{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .wrapper .left h4{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .wrapper .left h2{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .wrapper .left h3{
    margin-bottom: 15px;
    margin-top: 15px;
   
  }
  
  .wrapper .left p{
    font-size: 18px;
    color: yellow;
  }
  
  .wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'serif';
  }
  
  .wrapper .right .info,
  .wrapper .right .projects{
    margin-bottom: 25px;
  }
  
  .wrapper .right .info h3,
  .wrapper .right .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #051847;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .wrapper .right .info_data,
  .wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
    font-size: larger;
  }
  
  .wrapper .right .info_data .data,
  .wrapper .right .projects_data .data{
    width: 45%;
    font-size: large;
  }
  
  .wrapper .right .info_data .data h4,
  .wrapper .right .projects_data .data h4{
      color: #040a18;
      margin-bottom: 5px;
  }
  
  .wrapper .right .info_data .data p,
  .wrapper .right .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #4b4f53;
  }
  
  .wrapper .social_media ul{
    display: flex;
  }
  
  .wrapper .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
  }
  
  .wrapper .social_media ul li a{
    color :#fff;
    display: block;
    font-size: 18px;
  }
  
  .count{
    margin: 10px 0;
    color: rgb(235, 8, 38);
  }
  .countd{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid;
    
    margin: 0 10px;
 color: #051847;
 background-color: #6389db;
  }
  .countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
    color: black;
    align-items: center;
  }
 