html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(59, 95, 212);
}

body {
  margin: 0;
  background: #5d74db;
  font-size: 1em;
}

.wrapper {
  margin: 80px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
  color: #0f0779;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
  color: #00a2b7;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #0c0a0a;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 3px dashed #0a0c1f;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
color: red;
}

.date-picker:nth-child(2) {
  color: green;
  }

  .date-picker:nth-child(3) {
    color: green;
    }

    .date-picker:nth-child(4) {
      color: green;
      }
      .date-picker:nth-child(5) {
        color: green;
        }
        .date-picker:nth-child(7) {
          color: green;
          }
                    
.date-picker:nth-child(6) {
color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #0f0779;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #080808;
  border: 1px solid #439ee9;
  border-radius: 3px;
  padding: 5px 1em;
}