h1 {
    margin-top: 7vh;
    color: rgb(46, 96, 235);
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    font-family: roboto;
}

.voldata {
    margin-left: 2vw;
    list-style: none;
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    display: inline-block;
    font-family: verdana;
}

.floatRight {
    float: right;
    width: 35vw;
    height: 55vh;
    margin-right: 2rem;
}

.line {
    display: inline-block;
}

input {
    border-radius: 5px;
    padding: 4px 10px;
    resize: vertical;
}

.btn {
    background-color: #0cca15;
    color: rgb(253, 253, 253);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: red;
    color: black;
}

.formcss {
    line-height: 10vh;
}

ul {
    line-height: 10vh;
    list-style: none;
    display: inline-block;
}

.file {
    background-color: rgb(24, 110, 7);
    padding-left: 2vw;
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 0;
}

.file:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    form {
        font-size: 1rem;
    }
    img {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .floatRight {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .btn {
        padding: 1px 1px;
    }
    .file {
        float: left;
    }
    ul {
        font-size: 1rem;
        display: inline-block;
        line-height: 12vh;
    }
    h1 {
        font-size: 1.5rem;
    }
}