body {
    font-family:serif;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color:white;
    color:blue
  }
  
  .right {
    right: 0;
   
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centered1 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:500;
     height:500 ;
    overflow: scroll;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }