* {
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 68, 160);
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    background-color: rgba(223, 66, 79, 0.897);
    border-color: black;
    border-style: solid;
}

.row {
    width: 70vw;
    margin-right: 2vw;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-color: black;
    border-style: solid;
    padding: 12px 16px;
    cursor: pointer;
}

.grid:hover {
    background-color: rgb(12, 12, 12);
    color: white;
}

.btn {
    float: right;
    margin-right: 2vw;
    background-color: rgb(12, 55, 247);
    color: rgb(253, 253, 253);
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    border-color: black;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(12, 12, 12);
}

h4 {
    margin-left: 1vw;
}

h1 {
    margin-top: 20px;
    color: rgb(10, 10, 10);
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

@media screen and (max-width: 750px) {
    h2 {
        font-size: small;
    }
    .btn {
        font-size: smaller;
    }
}