@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  filter: blur(10px);
}

.nav-bar {
  position: fixed;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: #02a95c;
  height: 3rem;
  z-index: 10;
}

.logo-container {
  display: flex;
  height: 6vh;
}

.logo {
  height: 6vh;
  width: 6rem;
  z-index: 10;
  margin-left: 2rem;
  background-image: url("../images/hlogoxs.png");
}

.title-name {
  display: flex;
  justify-content: center;
  width: auto;
  height: 6vh;
}

.tzu-logo {
  position: relative;
  right: 2rem;
  width: 5rem;
  background: url("../images/tzuChiLogo.png");
  z-index: 11;
}
.logo-name {
  display: flex;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

.logo-name span {
  font-weight: 200;
}

.log-sign {
  width: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  position: relative;
}

.log-sign a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.back-btn {
  display: inline-block;
  position: relative;
  width: 4vw;
  height: auto;
  margin: 2rem;
  background: #02a95c;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-top: 2.5rem;
  transition: 0.3s;
}

.avatar {
  position: relative;
  display: flex;
  height: 5rem;
  justify-items: center;
  left: 14vw;
}

a:hover {
  color: #070707;
}

.btn {
  position: absolute;

  margin-left: 35%;
  margin-top: 30%;
  width: 7rem;
  height: 3rem;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #02a95c, #4ae09a, #65ce03);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 300%;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  background-color: #02a95c;
  color: white;
  text-align: center;
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    position: fixed;
    grid-area: nav-bar;
    display: grid;
    left: 0;
    top: 0;
    width: 100%;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: " title-name logo-container ";
    background-color: #004883;
    height: 50px;
    z-index: 10;
  }

  .avatar {
    position: relative;
    width: 90px;
    left: 5rem;
  }

  .logo-container {
    display: none;
  }

  .title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    grid-area: title-name;
  }

  .tzu-logo {
    width: 82px;
    background: url(../images/tzuChiLogo.png);
  }
  .logo-name {
    display: flex;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
  }

  .logo-name span {
    font-weight: 200;
  }
  .log-sign {
    width: 25px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .log-sign a {
    display: block;
    position: relative;
    right: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .back-btn {
    display: inline-block;
    width: 60px;
    height: 40px;
    background: #004883;
    padding: 0.5rem 0.8rem;
    font-size: 5rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;

    transition: 0.3s;
    text-transform: uppercase;
  }

  a:hover {
    color: #070707;
  }
}
