.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

  height: 60%;
  top: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 5rem auto;
}
.login h1 {
  position: relative;
  text-align: center;
  color: #5b6574;
  margin-top: 5%;
  font-size: 200%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  width: 32vw;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputContainer {
  display: flex;
  width: 32vw;
  height: auto;
  justify-content: center;
}

.inputContainer h3 {
  height: 3rem;
}
#ic1 {
  height: 3rem;
}

#ic2 {
  height: 8rem;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 3vw;
  height: 6vh;
  background-color: #004883;
  color: #ffffff;
}
.login form input[type="email"] {
  position: relative;
  width: 18vw;
  height: 6vh;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  left: 1rem;
  padding: 0 15px;
}

.login form input[type="submit"] {
  position: relative;
  width: 10rem;
  height: 3rem;

  border-radius: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #004883, #1777af, #030e64);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 300%;
  transition: 0.5s;
}

.login form input[type="submit"]:hover {
  background-position: right;
}

.validation-error {
  position: relative;

  width: auto;
  height: 3rem;
}

.validation-error h2 {
  display: flex;
  text-align: center;
  font-size: 0.8rem;
  color: #e74c3c;
}

@media screen and (max-width: 900px) {
  .login {
    width: 60%;
  }
  .login h1 {
    font-size: 150%;
  }
  .inputContainer {
    display: flex;
    width: auto;
  }

  .inputContainer h3 {
    margin-top: 1rem;
    width: 210%;
    font-size: 0.8rem;
  }
  .login form {
  }
  .login form label {
    width: 37px;
  }
  .login form input[type="email"] {
    width: 10rem;
  }

  .validation-error {
    top: 1rem;
    height: 10rem;
  }

  .validation-error h2 {
    top: 1rem;
    height: 10rem;
  }
}
