.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

  height: 60%;
  top: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 5rem auto;
}
.login h1 {
  position: relative;
  text-align: center;
  color: #5b6574;
  margin-top: 5%;
  font-size: 200%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  width: 32vw;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logformContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: auto;
}

.inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 15rem;
  height: auto;

  align-items: left;

  text-align: justify;
}

.logformContainer h3 {
  position: relative;
}

input.error {
  height: 3rem;
}

.error {
  position: relative;
  color: red;
}

.login form input {
  position: relative;
  width: 15rem;
  height: 3rem;
  border: 1px solid #dee0e4;
}

button {
  position: relative;
  width: 10rem;
  height: 3rem;

  border-radius: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #004883, #1777af, #030e64);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 300%;
  transition: 0.5s;
}

.login form input[type="submit"]:hover {
  background-position: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.3rem;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #004883;
  box-shadow: 0 0 9px 0 rgb(255, 255, 255);
  width: 30%; /* Could be more or less, depending on screen size */
  height: 20%;
}

.msg-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  border: 4px solid #004883;
  border-radius: 0.3rem;
}

/* The Close Button */
.close {
  position: relative;
  color: rgb(0, 0, 0);
  padding-left: 10rem;
  font-size: 18px;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.msg-nav:hover,
msg-nav:focus {
  background-color: #004883;
}

.close:hover,
.close:focus {
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
  font-size: 18.5px;
}

@media screen and (max-width: 900px) {
  .login {
    width: 60%;
  }
  .login h1 {
    font-size: 150%;
  }
  .inputContainer {
    display: flex;
    width: auto;
  }

  .inputContainer h3 {
    margin-top: 1rem;
    width: 210%;
    font-size: 0.8rem;
  }

  .logformContainer h3 {
    position: relative;
    font-size: 16px;
  }

  input.error {
    height: 3rem;
  }

  .error {
    position: relative;
    color: red;
  }

  .login form input {
    width: 15rem;
    height: 2rem;
  }

  button {
    position: relative;
    width: 8rem;
    height: 2rem;

    background-size: 275%;
    transition: 0.5s;
  }

  .login form input[type="submit"]:hover {
    background-position: right;
  }
}
