.login {
  position: relative;
  width: 32vw;
  align-items: center;
  height: 60%;
  top: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 5rem auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 200%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  width: 22vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
  width: 3vw;
  height: 6vh;
  background-color: #004883;
  color: #ffffff;
}
.login form input[type="password"],
.login form input[type="text"] {
  position: relative;
  width: 18vw;
  height: 6vh;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  left: 5vw;
  padding: 0 15px;
}

.validation-error {
  position: relative;
  bottom: 3em;
  width: 25em;
  height: 1rem;
  margin-left: 12rem;
}

.validation-error h1 {
  display: flex;
  text-align: center;
  font-size: 0.8rem;
  color: #e74c3c;
}

.forgotpw a {
  display: block;
  position: relative;
  text-align: center;
  top: 6rem;
  left: 6.5rem;
  text-decoration: none;
  color: rgb(163, 152, 152);
  font-size: 0.9rem;
  transition: 0.3s;
}
