@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.bgimage {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.nav-bar {
    position: fixed;
    grid-area: nav-bar;
    display: grid;
    left: 0;
    top: 0;
    width: 100%;
    grid-template-columns: 250px 60% 40%;
    grid-template-areas: "logo-container title-name dropdown";
    background-color: #78cc5a;
    height: 50px;
    z-index: 10;
}

.logo-container {
    display: flex;
    width: 100%;
    height: 50px;
    grid-area: logo-container;
}

.logo {
    height: 50px;
    width: 98px;
    margin-left: 70px;
    z-index: 10;
    background-image: url("../images/hlogoxs.png");
}

.title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    grid-area: title-name;
}

.tzu-logo {
    width: 82px;
    background: url("../images/tzuChiLogo.png");
}

.logo-name {
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
}

.logo-name span {
    font-weight: 200;
}

.log-sign {
    width: 150px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
}

.log-sign a {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    margin-left: 1rem;
    transition: 0.3s;
}

.back-btn {
    display: inline-block;
    position: relative;
    width: 67px;
    height: 40px;
    background: #78cc5a;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    transition: 0.3s;
}

.img {
    height: 10px;
    width: 130px;
}

.avatar {
    position: relative;
    width: 90px;
    height: 10px;
    left: 12.5rem;
}

.login {
    width: 500px;
    height: 48rem;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #f1f1f1;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4rem;
    width: 50px;
    height: 50px;
    background-color: #2caa0c;
    color: #080808;
}

.login form input[type="date"],
.login form select,
.login form input[type="text"] {
    position: relative;
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    left: 4rem;
    padding: 0 15px;
}

.validation-error h1 {
    position: relative;
    left: 4rem;
    font-size: 12px;
    color: #e74c3c;
}

.forgotpw a {
    display: block;
    position: relative;
    left: 9.8rem;
    top: 6rem;
    text-decoration: none;
    color: rgb(163, 152, 152);
    font-size: 0.9rem;
    transition: 0.3s;
}

a:hover {
    color: #070707;
}

.input-div i {
    /*visibility: hidden; */
    position: absolute;
    top: 30px;
    right: 10px;
}

.input-div.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.input-div.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.input-div small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.input-div.error small {
    visibility: visible;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    margin-left: 8rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #17e74b, #04c6f7, #32be8f);
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btnreg {
    background-image: linear-gradient(to right, #0dddb0, #1d8b6a, #0d91dd);
}

.btn:hover {
    background-position: right;
    cursor: pointer;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #78cc5a;
    color: white;
    text-align: center;
    z-index: 1000;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        position: fixed;
        grid-area: nav-bar;
        display: grid;
        left: 0;
        top: 0;
        width: 100%;
        grid-template-columns: 5fr 1fr;
        grid-template-areas: " title-name logo-container ";
        background-color: #78cc5a;
        height: 50px;
        z-index: 10;
    }
    .avatar {
        position: relative;
        width: 90px;
        left: 5rem;
    }
    .logo-container {
        display: none;
    }
    .title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        grid-area: title-name;
    }
    .tzu-logo {
        width: 82px;
        background: url(../images/tzuChiLogo.png);
    }
    .logo-name {
        display: flex;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
        text-align: center;
    }
    .logo-name span {
        font-weight: 200;
    }
    .log-sign {
        width: 25px;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .log-sign a {
        display: block;
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        transition: 0.3s;
    }
    .back-btn {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: #78cc5a;
        padding: 0.5rem 0.8rem;
        font-size: 5rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
        transition: 0.3s;
        text-transform: uppercase;
    }
    .login {
        position: relative;
        width: 250px;
        height: 55rem;
        background-color: #ffffff;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    }
    .login h1 {
        text-align: center;
        color: #f7dfdf;
        font-size: 14px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
    }
    .login form {
        width: 360px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    .login form label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1rem;
        width: 35px;
        height: 35px;
    }
    .login form input[type="password"],
    .login form select,
    .login form input[type="date"],
    .login form input[type="text"] {
        position: relative;
        width: 10rem;
        height: 35px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        left: 4rem;
        bottom: 2.2rem;
        padding: 0 15px;
    }
    .validation-error h1 {
        position: absolute;
        left: 7.3rem;
        bottom: 18rem;
        font-size: 8px;
        color: #e74c3c;
    }
    .btnreg {
        position: relative;
        right: 5rem;
        bottom: 2rem;
        padding: 3%;
        width: 10rem;
        height: 3rem;
        border-radius: 25px;
        font-size: 0.8rem;
    }
    .forgotpw a {
        display: block;
        position: relative;
        left: 4rem;
        top: 7rem;
        text-decoration: none;
        color: rgb(163, 152, 152);
        font-size: 0.9rem;
        transition: 0.3s;
    }
    a:hover {
        color: #070707;
    }
}