@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

.bgimage {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.nav-bar {
    position: fixed;
    grid-area: nav-bar;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    background-color: #78cc5a;
    height: 6vh;
    z-index: 10;
}

.logo-container {
    display: flex;
    height: 6vh;
}

.logo {
    height: 6vh;
    width: 6rem;
    z-index: 10;
    margin-left: 2rem;
    background-image: url("../images/hlogoxs.png");
}

.title-name {
    display: flex;
    justify-content: center;
    width: auto;
    height: 6vh;
}

.tzu-logo {
    position: relative;
    right: 2rem;
    width: 5rem;
    background: url("../images/tzuChiLogo.png");
    z-index: 11;
}

.logo-name {
    display: flex;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
    z-index: 10;
}

.logo-name span {
    font-weight: 200;
}

.log-sign {
    width: auto;
    height: 6vh;
    display: flex;
    align-items: center;
    position: relative;
}

.log-sign a {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    margin-left: 1rem;
    transition: 0.3s;
}

.back-btn {
    display: inline-block;
    position: relative;
    width: 4vw;
    height: auto;
    margin: 2rem;
    background: #78cc5a;
    padding: 0.4rem 0.7rem;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    transition: 0.3s;
}


/*-------------body-----------*/

.container {
    display: grid;
    grid-template-rows: 0vh 88vh 10vh;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    grid-gap: 1px;
    background-color: white;
}

.hd {
    grid-row: 1;
}

.page-body {
   
    
    padding-bottom: 50px;
}

ul {
    list-style: none;
}

li {
    padding: 3px;
}

a {
    text-decoration: none;
}


/*----------------body---container---------------*/

.background {
    width: 100vw;
}

.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

.pg-name {
    
    bottom: 10px;
    left: 10px;
}

.pg-name h2 {
    margin-top: 20px;
   color: black;
    font-size: 5.5vw;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.pg-name h3{
    margin-left: 30px;
    margin-top: 10px;
    color: lightgreen;
    font-size: 3vw;
    font-weight: bold;
    opacity: 1;
}
.pg-name h4{
    padding: 10px;
    margin: 40px;
    font-size: 20px;
}
.home-img{
    width: 26vw;
}
.home-img img{
    max-width: 20vw;
}

.btns {
    margin-top: 20px;
    
    bottom: 15px;
}

.btns a {
    border-radius: 5px;
    font-size: 32px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

.log {
    
    background-color: green;
}

.reg {
    background-color: blue;
}

.btns a:hover {
    background-color: red;
}

.selection-panal {
    margin-left: 10px;
}

.selection-panal button {
    background-color: transparent;
    color: #004883;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s;
}

.selection-panal button:hover {
    color: darkgreen;
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1.2);
}

p {
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.about-us h4,
.vol-activities h4 {
    margin-left: 30px;
    padding: 5px;
    border-style: solid;
    border-bottom: none;
    color: #004883;
}

.media-container {
    margin-top: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    padding-bottom: 50px;
}


/*--------------image - gallery--------------------------*/

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    height: 225px;
}

.column img:hover {
    opacity: 1;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.view-img {
    position: relative;
    display: none;
}

.view-img img {
    padding: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#img-data {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
}


/*-------footer-------------*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: #78cc5a;
    color: white;
    text-align: center;
    z-index: 1000;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        position: fixed;
        grid-area: nav-bar;
        display: grid;
        left: 0;
        top: 0;
        width: 100%;
        grid-template-columns: 5fr 1fr;
        grid-template-areas: " title-name logo-container ";
        background-color: #78cc5a;
        height: 50px;
        z-index: 10;
    }
    .logo-container {
        display: none;
    }
    .title-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        grid-area: title-name;
    }
    .tzu-logo {
        width: 82px;
        background: url(../images/tzuChiLogo.png);
    }
    .logo-name {
        display: flex;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
        text-align: center;
    }
    .logo-name span {
        font-weight: 200;
    }
    .log-sign {
        width: 25px;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .log-sign a {
        display: block;
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        transition: 0.3s;
    }
    .back-btn {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: #004883;
        padding: 0.5rem 0.8rem;
        font-size: 5rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
        transition: 0.3s;
        text-transform: uppercase;
    }
    .head-container {
       height: 80vh;
    }
    .pg-name h4 {
       font-size: 12px;
        margin: 10px;
    }

    .pg-name h4 span{
        font-size: 16px;
    }
    .btns a {
        font-size: 18px;
    }
    .selection-panal button {
        font-size: 15px;
    }
    .selection-panal button:hover {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    .about-us h4,
    .vol-activities h4 {
        font-size: 15px;
    }
    /*==============img gallery=============*/
    #img-data {
        font-size: 15px;
        bottom: 20px;
        left: 20px;
    }
    .column img {
        height: 80px;
    }
}